<head>
  <title>La Penetraaaadaaaaaa</title>
<link rel="stylesheet" href="http://yandex.st/highlightjs/8.0/styles/default.min.css">
<script src="http://yandex.st/highlightjs/8.0/highlight.min.js"></script>
    <link rel="stylesheet" href="assets/css/effeckt.autoprefixed.css">
    <link rel="stylesheet" href="assets/css/demo/topcoat-mobile-dark.autoprefixed.css">
</head>

<body>
  {{> homescreen}}
</body>


<template name="homescreen">
<header id="appheader">
 	<h1>La Penetrada</h1>
</header>
  {{> threats}}
  {{> exploitlist}}
</template>

<template name="threats">
<table style="width:400px">
<tr>
  <td><h2>Month</h2></td>
  <td><h2>72Hours</h2></td>
</tr>
<tr>
  <td>{{> thirtydays}}</td>
  <td>{{> oneday}}</td>
</tr>
</table>
</template>

<template name="thirtydays">
<div id="30daycount">{{getCount}}</div>
</template>

<template name="oneday">
<div id="1daycount">{{getCount}}</div>
</template>

<template name="exploitlist">
<div class="topcoat-list__container">
    <h3 class="topcoat-list__header">Exploits</h3>
    <div class="exploits">
    <ul class="topcoat-list">
	{{#each exploits}}
		<li class="topcoat-list__item"  style="padding : 0">
			<a href="{{ pathFor 'exploit' }}"> 
			<tr>
				<td class="platform" style="padding-right : 25px"><small>{{platform}}</small></td>
				<td class="type" style="padding-right : 25px"><small>{{type}}</small></td>
				<td class="port" style="padding-right : 25px"><small>{{port}}</small></td>
				<td class="date" style="padding-right : 25px"><small>{{date}}</small></td>
			</tr>
			<p>{{description}}</p>
			<tr>
				<td class="author"><small>{{author}}</small></td>
			</tr>
			</a>
		</li>
	{{/each}}
    </ul>
    </div>
</div>
</template>

<template name="exploitDetail">
    <div class="passage">
        <div class="one-passage">
            <p>{{description}}</p>
            <div class="passage-content">
                {{b64}}
            </div>
        </div>
    </div>
</template>

