/* CSS declarations go here */
// valign
th, td { vertical-align: top; }

// align (center)
table { margin: 0 auto; }

.platform {
	color: yellow;
}
.port {
	color: red;
}
.type {
	color: aqua;
}
.author {
	color: blue;
}
.date {
	color: grey;
}

/* mouse over link */
a:hover {
    color: #FF00FF;
}

/* selected link */
a:active {
    color: #0000FF;
}
a:link {
    text-decoration: none;
}

a:visited {
    text-decoration: none;
}

a:hover {
    text-decoration: none;
}

a:active {
    text-decoration: none;
}
